{% extends "base.html" %}
{% block content %}


<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>


<script src="/static/js/amcharts/core.js"></script>
<script src="/static/js/amcharts/charts.js"></script>
<script src="/static/js/amcharts/dataviz.js"></script>
<script src="/static/js/amcharts/animated.js"></script>

<!-- BY OS -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_dataviz);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "count";
pieSeries.dataFields.category = "OS";

// Let's cut a hole in our Pie chart the size of 30% the radius
chart.innerRadius = am4core.percent(30);

// Put a thick white border around each Slice
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;
pieSeries.slices.template
  // change the cursor on hover to make it apparent the object can be interacted with
  .cursorOverStyle = [
    {
      "property": "cursor",
      "value": "pointer"
    }
  ];

pieSeries.alignLabels = false;
pieSeries.labels.template.bent = true;
pieSeries.labels.template.radius = 3;
pieSeries.labels.template.padding(0,0,0,0);

pieSeries.ticks.template.disabled = true;

// Create a base filter effect (as if it's not there) for the hover to return to
var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
shadow.opacity = 0;

// Create hover state
var hoverState = pieSeries.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

// Slightly shift the shadow and make it more prominent on hover
var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
hoverShadow.opacity = 0.7;
hoverShadow.blur = 5;

// Add a legend
chart.legend = new am4charts.Legend();

chart.data = {{ metrics_os|tojson|safe }};

}); // end am4core.ready()
</script>


<div class="container-fluid">
  <div class="row">
    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Inactive Minions</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">

        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Minion Status</th>
                </tr>
              </thead>
              <tbody>
              {% for min in metrics_inactive %}
              {% if min %}
              <tr>
                <td>{{ min }}</td>
                <td>
                  <span style="color:red">Offline</span>
                </td>
              </tr>
              {% endif %}
              {% endfor %}   
              </tbody>
            </table>
          </div>
        </div>

        
        </div>
      </div>
    </div>



    <div class="col-xl-8 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">OS Type</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="chartdiv"></div>
        </div>
      </div>
    </div>



  </div>

</div>






{% endblock %}