{% extends "base.html" %}
{% block content %}


<br> 
<br>





<!-- Main content -->
<div class="main-content">
{% if not result %}

    <div class="d-flex justify-content-center">    
    <a href="{{ url_for('start_generator') }}" class="btn btn-primary" id="generator_button">Start DB sync</a>
    </div>


{% else %}
    {% if result == 'generator sync is complete.'%}
    <div class="alert alert-success" role="alert">
    Generator Sync is complete.
    </div>
    {% elif result == 'generator error' %}
    <div class="alert alert-danger" role="alert">
    {{ result }}
    </div>
    {% endif %}
{% endif %} 

</div> <!-- /main content -->

{% endblock %}

