{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Saltstack > Minion Status</span>
</div>

{% if sync > 60 and sync < 120 %}
<div class="btn btn-warning btn-icon-split float-right">
{% elif sync >= 120 %}
<div class="btn btn-danger btn-icon-split float-right">
{% else %}
<div class="btn btn-info btn-icon-split float-right">
{% endif %}
    <span class="icon text-white-50">
        <i class="fas fa-sync"></i>
    </span>
    <span class="text">synced: {{ sync }} min ago</span>
</div>


<br> 
<br>


<!-- Main content -->
<div class="main-content">


       <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Minion Status</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Online</th>
                      <th>Grains</th>
                    </tr>
                  </thead>
                  <tbody>
                
                {% for min in minions %}
                {% if min['name'] %}
                    <tr>
                      <td style="width:250px">{{ min['name'] }}</td>
                      <td style="width:80px">
                    {% if min['status'] == 'False' %}
                        <span style="color:red">
                            {{ min['status'] }}
                        </span>
                    {% else %}
                        {{ min['status'] }}
                    {% endif %}
                      </td>
                      <td>
                    {% if not min['grains'] %}
                        Grains unavailable
                    {% else %}
                         <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#grains_{{ min['name'] }}" aria-expanded="false" aria-controls="grains_{{ min['name'] }}">
                        View All Grains
                        </button>
                        
                        &nbsp;&nbsp; {{ min['grains']['kernel'] }} {{ min['grains']['os'] }} ({{ min['grains']['osrelease'] }}) {{ min['grains']['cpuarch'] }} 
                        
                        </p>
                        <div class="collapse" id="grains_{{ min['name'] }}">
                        <div class="card card-body">
                        
                        {% for key,val in min['grains'].items() %}
                        <div class="d-inline-flex bd-highlight">
                            <div class="text-primary">{{ key }}</div> &nbsp; {{ val }}<br> 
                        </div>
                        {% endfor %}
                        </div>
                        </div>

                       
                    {% endif %}
                      </td>
                    </tr>

                {% endif %}
                {% endfor %}
                 
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
	

 
</div> <!-- /main content -->

{% endblock %}



